:root {
    --color-white: #ffffff;
    --color-grey: #2c2c2c;
    --color-orange: #f07f2e;
    --color-forest-green: #0f3f3c;
    --color-hero-overlay: #000000;
}

a {
    text-decoration: none;
}

.header {
    
}

.site-logo {
    color: var(--color-orange);
}